# Ignore patterns for git

*~
~*

# Compiled files
*.[oa]
*.pyc
/build/*
/src/python/fc/sundials/solver.c
/src/python/fc/sundials/solver.so
/src/python/fc/sundials/sundials.so

# Eclipse stuff
/.pydevproject
/.settings

# CellML project, in case we've synced from a build machine
/cellml
# Test output, similarly
/testoutput
