# Ignore patterns for git

*~
~*

# Compiled files
*.[oa]
*.pyc
/build/*

# Eclipse stuff
/.pydevproject
/.settings

# CellML project, in case we've synced from a build machine
/cellml
# Test output, similarly
/testoutput
